<h1 class="center">Welcome to Noteful</h1>
<p class="center">Take notes and create todos online and access them from anywhere!</p>

<h2>Tag Cloud</h2>
<%= content_tag :div, id: 'tag_cloud' do %>
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= content_tag :span, tag.name, :class => css_class %>
  <% end %>
<% end %>

<hr/>

<div class='pull-right'>
  <%= link_to "Add a note", new_note_path %>
</div>

<div>
  <% @notes.each do |note| %>
    <%= div_for note do %>
      <h2><%= note.title %></h2>
      <p><%= note.preview %></p>
      <p><%= link_to 'Show', note_path(note) %> |
        <%= link_to 'Edit', edit_note_path(note) %> |
        <%= link_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  <% end %>
</div>
